<ion-view id="Aanmelden" title="Aanmelden" class="background">
    <ion-content class="has-header" padding="true" >
        <!-- <form style="" class="list list-inset" ng-submit="Authenticate()"> -->
            <ion-list style="" class="list list-inset">
                <label style="" name="username" class="item item-input">
                    <span class="input-label">Gebruiker</span>
                    <input placeholder="uw email adres" type="email" ng-model="loginData.username">
                </label>
                <label style="" name="password" class="item item-input">
                    <span class="input-label">Wachtwoord</span>
                    <input placeholder="uw wachtwoord" type="password" ng-model="loginData.password">
                </label>
            </ion-list>
        <!-- </form> -->
        <button class="button button-blaud  button-block icon-right fa fa-arrow-circle-right fa-lg" id="aanmelden-button1" type="submit" ng-click="Authenticate()">Aanmelden</button>
        <div style="height: 10px;" class="spacer"></div>
        <div ng-hide="MessageHide" >{{Message}}</div>
    </ion-content>
</ion-view>
