<div data-ng-switch='Field.FieldTypeKind' ng-hide="Field.Hidden">
    <!-- Integer -->
    <span data-ng-switch-when='1'>
        <input class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
            <!-- <span class="input-label BlaudBlue">{{Field.Title}}</span> -->
            <input type="number" name="{{Field.InternalName}}" ng-readonly="Field.ReadOnlyField" ng-model="Field.Value" placeholder="{{Field.Description}}" ng-required="Field.Required" readonly="{{Field.ReadOnlyField}}" max="{{Field.MaximumValue}}" min="{{Field.MinimumValue}}" pattern="{{Field.ValidationFormula}}"></input>
        </label>
    </span>
    <!-- Text -->
    <span data-ng-switch-when='2'>
        <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
            <!--<span class="input-label BlaudBlue">{{Field.Title}}</span> -->
            <input type="text"  name="{{Field.InternalName}}" ng-readonly="Field.ReadOnlyField" ng-model="Field.Value" placeholder="{{Field.Description}}" ng-required="Field.Required" readonly="{{Field.ReadOnlyField}}" maxlength="{{Field.MaxLength}}" pattern="{{Field.ValidationFormula}}"></input>
        </label>
    </span>
    <!-- Note -->
    <span data-ng-switch-when='3'>
         <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
             <div class="item item-divider BlaudOrangeBackground">
                 {{Field.Title}}
             </div>
             <!-- <span class="input-label BlaudBlue">{{Field.Title}}</span> -->
             <textarea name="{{Field.InternalName}}" rows="{{Field.NumberOfLines}}" ng-readonly="Field.ReadOnlyField" ng-model="Field.Value" placeholder="{{Field.Description}}" ng-required="Field.Required" readonly="{{Field.ReadOnlyField}}"></textarea>
         </label>
    </span>
    <!-- DateTime -->
    <span data-ng-switch-when='4'>
        <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
            <input type="date" name="{{Field.InternalName}}" ng-readonly="Field.ReadOnlyField" ng-model="Field.Value" placeholder="{{Field.Description}}" ng-required="Field.Required" readonly="{{Field.ReadOnlyField}}" pattern="{{Field.ValidationFormula}}"></input>
        </label>
    </span>
    <!-- Choice -->
    <span data-ng-switch-when='6'>
        <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
            <ion-radio
                    ng-repeat="result in Field.Choices.results"
                    ng-value="result"
                    ng-checked="Field.Value"
                    ng-model="Field.Value"
                    ng-required="Field.Required"
                    ng-disabled="Field.ReadOnlyField"
                    name="{{Field.Title}}" class="BlaudBlue">
                <span ng-bind-html="result" class="BlaudBlue"></span>
            </ion-radio>
        </label>
    </span>
    <!-- Boolean -->
    <span data-ng-switch-when='8'>
        <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
                <ion-toggle ng-model="Field.Value" name="{{Field.Title}}" ng-required="Field.Required" ng-disabled="Field.ReadOnlyField" toggle-class="toggle-blaud" >
                <span class="input-label BlaudBlue">{{Field.Title}}</span>
            </ion-toggle>
        </label>
    </span>
    <!-- Number -->
    <span data-ng-switch-when='9'>
        <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
            <!-- <span class="input-label BlaudBlue">{{Field.Title}}</span> -->
            <input type="number" name="{{Field.InternalName}}" ng-readonly="Field.ReadOnlyField" ng-model="Field.Value" placeholder="{{Field.Description}}" ng-required="Field.Required" readonly="{{Field.ReadOnlyField}}" max="{{Field.MaximumValue}}" min="{{Field.MinimumValue}}" pattern="{{Field.ValidationFormula}}"></input>
        </label>
    </span>
    <!-- Currency -->
    <span data-ng-switch-when='10'>
        <label class="item item-input item-stacked-label" style="background:white;border-width:0px;">
            <div class="item item-divider BlaudOrangeBackground">
                {{Field.Title}}
            </div>
            <!-- <span class="input-label BlaudBlue">{{Field.Title}}</span> -->
            <input type="number" name="{{Field.InternalName}}" ng-readonly="Field.ReadOnlyField" ng-model="Field.Value" placeholder="{{Field.Description}}" ng-required="Field.Required" readonly="{{Field.ReadOnlyField}}" max="{{Field.MaximumValue}}" min="{{Field.MinimumValue}}" pattern="{{Field.ValidationFormula}}"></input>
        </label>
    </span>
    <!-- MultiChoice -->
    <span data-ng-switch-when='15'>
    </span>
</div>