<ion-view id="Meldingen" title="Melden" class="background">>
    <ion-content class="has-header" padding="true" style="background: url(img/blaud_light_logo.png) no-repeat center;background-size:cover;">
        <form style="" class="list">
            <div class="button-bar">
                <button class="button button-blaud  button-block icon ion-android-add-circle" id="een" ng-click="takePhoto('een')"><div class="item item-avatar"><img ng-src="{{bijlage.een.uri}}" class="item item-avatar" ></div> </button>
                <button class="button button-blaud  button-block icon ion-android-add-circle" id="twee" ng-click="takePhoto('twee')"><div class="item item-avatar"><img ng-src="{{bijlage.twee.uri}}" class="item item-avatar" ></div> </button>
                <button class="button button-blaud  button-block icon ion-android-add-circle" id="drie" ng-click="takePhoto('drie')"><div class="item item-avatar"><img ng-src="{{bijlage.drie.uri}}" class="item item-avatar"></div> </button>
            </div>

            <!--
            <button class="button button-energized  button-block button-outline icon-left ion-camera" ng-click="takePhoto()">
                Neem Foto
            </button>
            <button class="button button-energized  button-block button-outline icon-right ion-images" ng-click="choosePhoto()">
                Kies Foto
            </button>
            -->
            <ion-list>
              <ion-item ng-repeat="Field in Web.List.Item.Fields">
                  <div data-ng-include="'templates/Formulier.html'"></div>
              </ion-item>
            </ion-list>
            <button class="button button-blaud  button-block icon-right ion-plus-round" data-ng-click="Opslaan(Web.List.Item)" id="melding_opslaan">Opslaan Melding</button>
            <!-- <button class="button button-energized  button-block button-outline icon-left ion-alert-circled" data-ng-click="OpslaanFoto(Web.List.Item,'fotonaam.jpg',bsixfour)" id="melding_bestanden">Opslaan Foto</button> -->
        </form>
    </ion-content>
</ion-view>
