<ion-view style="background-color: rgb(255, 255, 255);" id="Meldingen" title="Meldingen">
    <ion-content class="has-header has-footer" padding="true">
        <h1 style="color: rgb(0, 0, 0);" id="meldingen-heading1">Meldingen</h1>
        <a class="button button-energized  button-block button-outline icon-right ion-alert-circled" id="meldingen-button8" ui-sref="nieuweMelding">Nieuwe Melding</a>
        <ion-list style="">
            <ion-item ng-repeat="item in Web.List.Items" ui-sref="melding({ItemId: item.Id})" class="item-thumbnail-left">
                <img>
                <h2>{{item.Onderwerp}}</h2>
                <p>{{item.Urgentie}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
