<ion-view id="Meldingen" cache-view="false" title="Melding" class="background">
    <ion-content class="has-header" padding="true">
        <div class="row row-center" style="height: 140px; min-height: 140px;">
            <div class="col col-30 blaud-camera-button" ng-click="takePhoto('een')" ng-style="{'background-image':'url('+bijlage.een.uri+')' }" ><!--<img ng-src="{{bijlage.een.uri}}"  style="width:100%" class="blaud-camera-button" >--></button></div>
            <div class="col col-30 blaud-camera-button" ng-click="takePhoto('twee')" ng-style="{'background-image':'url('+bijlage.twee.uri+')' }"><!--<img ng-src="{{bijlage.twee.uri}}"  style="width:100%" class="blaud-camera-button" >--></button></div>
            <div class="col col-30 blaud-camera-button" ng-click="takePhoto('drie')" ng-style="{'background-image':'url('+bijlage.drie.uri+')' }"><!--<img ng-src="{{bijlage.drie.uri}}"  style="width:100%" class="blaud-camera-button" >--></button></div>
        </div>
        <form style="" class="list">
            <ion-list class="list-blaud">
                <ion-item ng-repeat="Field in Web.List.Item.Fields" class="item-blaud">
                    <div data-ng-include="'templates/Formulier.html'"></div>
                </ion-item>
            </ion-list>
            <button class="button button-blaud  button-block icon-right fa fa-arrow-circle-right fa-lg" data-ng-click="Opslaan(Web.List.Item)" id="melding_opslaan">Opslaan Melding</button>
        </form>
    </ion-content>
</ion-view>
