<ion-view style="" id="Meldingen" title="Meldingen">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center">
            <button class="button button-energized  button-block button-outline icon-left ion-camera" ng-click="takePhoto()">
                Neem Foto
            </button>
            <button class="button button-energized  button-block button-outline icon-right ion-images" ng-click="choosePhoto()">
                Kies Foto
            </button>
            <ion-list>
              <ion-item ng-repeat="Field in Web.List.Item.Fields">
                  <div data-ng-include="'lib/SharePoint/components/Office-UI-Fabric.htm'"></div>
              </ion-item>
            </ion-list>
            <button class="button button-energized  button-block button-outline icon-left ion-alert-circled" data-ng-click="OpslaanFoto(Web.List.Item,'fotonaam.jpg',bsixfour)" id="melding_bestanden">Opslaan Foto</button>
            <button class="button button-energized  button-block button-outline icon-right ion-alert-circled" data-ng-click="Opslaan(Web.List.Item)" id="melding_opslaan">Opslaan Melding</button>
            <!--
            <label style="" name="soort" class="item item-select">
                <span class="input-label">Soort</span>
                <select>
                    <option>Schaderegistratie</option>
                    <option>Verbetervoorstel</option>
                    <option>Compliment</option>
                </select>
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <label style="" name="urgentie" class="item item-select">
                <span class="input-label">Urgentie</span>
                <select>
                    <option>Hoog</option>
                    <option>Middel</option>
                    <option>Laag</option>
                </select>
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <label style="" name="datum" class="item item-input">
                <span class="input-label">Datum</span>
                <input placeholder="" type="date">
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <label style="" name="Titel" class="item item-input">
                <span class="input-label">Onderwerp</span>
                <input placeholder="" type="text">
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <label style="" name="Situatie" class="item item-input">
                <span class="input-label">Situatie</span><textarea placeholder="Geef een omschrijving van de situatie "></textarea>
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <label style="" name="Oplossing " class="item item-input">
                <span class="input-label">Oplossing</span><textarea placeholder="Geef een mogelijke oplossing van de situatie "></textarea>
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <label style="" name="Locatie" class="item item-input">
                <span class="input-label">Locatie</span>
                <input placeholder="" type="text">
            </label>
            <div style="width: 285px; height: 19px;" class="spacer"></div>
            <button class="button button-energized  button-block button-outline icon-right ion-alert-circled" data-ng-click="Bestanden(Web.List.Item)" id="melding_bestanden">Bestanden</button>
            <button class="button button-energized  button-block button-outline icon-right ion-alert-circled" data-ng-click="Opslaan(Web.List.Item)">Opslaan</button>
            -->
        </form>
    </ion-content>
</ion-view>
