<ion-view id="Welkom" title="Apps voor SharePoint" class="background">
    <ion-content class="has-header" padding="true" style="background: url(img/blaud_light_logo.png) no-repeat center;background-size:cover;">
        <div style="" class="list card blaud">
            <div class="item item-divider calm">Lorem Ipsum</div>
            <div class="item item-body">
                <p>Lorem ipsum</p>
            </div>
        </div>
        <button class="button button-blaud  button-block icon-right ion-person" id="aanmelden" ui-sref="Aanmelden" ng-disabled="Authenticated">Aanmelden</button>
        <button class="button button-blaud  button-block icon-right ion-navicon-round" id="meldingen" ui-sref="Meldingen" ng-disabled="!Authenticated">Meldingen</button>
        <button class="button button-blaud  button-block icon-right ion-plus-round" id="melding" ui-sref="CreateMelding" ng-disabled="!Authenticated"> Nieuwe Melding </button>
    </ion-content>
</ion-view>
