
.backgroundWelcome {
    height: 100% !important;
    background:   url('../img/e-office_floor_person.jpg')no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.item-image img:first-child {
    position: relative;
    width: 60vw !important;
    left: calc(-50vw + 50%);
}

.item-image-logo img:first-child {
    position: fixed;
    width: 100vw !important;
    left: calc(-50vw + 50%);
    bottom: 5%;
    opacity: 0.8;
}

.background{

    background: rgba(154,212,239,1);
    background: -moz-linear-gradient(top, rgba(154,212,239,1) 0%, rgba(53,172,227,1) 50%, rgba(11,38,50,1) 100%);
    background: -webkit-gradient(linear,left top, left bottom, color-stop(0%, rgba(154,212,239,1)), color-stop(50%, rgba(53,172,227,1)), color-stop(100%, rgba(11,38,50,1)));
    background: -webkit-linear-gradient(top, rgba(154,212,239,1) 0%, rgba(53,172,227,1) 50%, rgba(11,38,50,1) 100%);
    background: -o-linear-gradient(top, rgba(154,212,239,1) 0%, rgba(53,172,227,1) 50%, rgba(11,38,50,1) 100%);
    background: -ms-linear-gradient(top, rgba(154,212,239,1) 0%, rgba(53,172,227,1) 50%, rgba(11,38,50,1) 100%);
    background: linear-gradient(to bottom, rgba(154,212,239,1) 0%, rgba(53,172,227,1) 50%, rgba(11,38,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ad4ef', endColorstr='#0b2632', GradientType=0 );

}

.loading{
    background-color: rgba(154,212,239, 0.7) !important;
}

.spinner.light svg {
    stroke: #fff !important;
    fill: #fff !important;
}

.blaud {
    background: rgb(53, 173, 227);
    color: #fff;
}

.BlaudBlue {
    color : rgb(53, 173, 227);
}

.BlaudOrange {
    color: rgb(247, 103, 31);

}

.BlaudBlueBackground {
    background: rgb(53, 173, 227);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.BlaudOrangeBackground {
    background: rgb(247, 103, 31);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.BlaudGreyBackground {
    background: rgb(55, 55, 55);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

/* Formulier */

.formulier input.ng-invalid.ng-touched  {
    background-color: rgba(154,212,239, 0.3);
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

.formulier input.ng-valid {
    background-color: #ffffff;
}

.formulier textarea.ng-invalid.ng-touched {
    background-color: rgba(154,212,239, 0.3);
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
}

.formulier textarea.ng-valid {
    background-color: #ffffff;
}

.Compliment:before {
    content: "\f087";
    font-family: FontAwesome;
    text-decoration: none;
}

.Verbetervoorstel:before {
    content: "\f14c";
    font-family: FontAwesome;
    text-decoration: none;
}

.Schaderegistratie:before {
    content:  "\f127";
    font-family: FontAwesome;
    text-decoration: none;
}

.Schaderegistratie.Hoog {
    border-color: red;
    color: red;
}

.Schaderegistratie.Middel {
    border-color: #ffda4e;
    color: #ffda4e;
}

.Schaderegistratie.Laag {
    border-color: rgb(53, 173, 227);
    color: rgb(53, 173, 227);
}

.Verbetervoorstel.Hoog {
    border-color: red;
    color: red;
}

.Verbetervoorstel.Middel {
    border-color: #ffda4e;
    color: #ffda4e;
}

.Verbetervoorstel.Laag {
    border-color: rgb(53, 173, 227);
    color: rgb(53, 173, 227);
}


.Compliment.Hoog {
    border-color: green;
    color: green;
}

.Compliment.Middel {
    border-color: #ffda4e;
    color: #ffda4e;
}

.Compliment.Laag {
    border-color: rgb(53, 173, 227);
    color: rgb(53, 173, 227);
}

.blaud-camera-button {

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url('../img/camera.png') no-repeat;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(28,100,133,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(28,100,133,1);
    box-shadow: 4px 4px 5px 0px rgba(28,100,133,1);
    /*
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    */
    min-height: 100%;
    margin: 1%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-size: cover !important;
    background-position: center !important;
}

.blaud-camera-button:after {
    padding-top: 100%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

/*
.blaud-camera-button img {
    left: calc(-50vw + 50%);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    width: 100%;
    height: 130px;
    overflow: hidden;

}
*/
 .photoZoomer {
     width: 100%;
     height: 100vh;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center, center !important;
     /*background-size: cover !important;*/
 }

.button.button-blaud {
    border-color: transparent;
    background-color: rgb(247, 103, 31);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

}

/*
.button.disabled,
.button[disabled].button-blaud {
    opacity: .1;
    cursor: default !important;
    pointer-events: none;
    background: #0B2632;
}
*/

.button.button-blaud:hover {
    color: #fff;
    text-decoration: none; }
.button.button-blaud.active, .button.button-blaud.activated {
    background-color: rgb(247, 103, 31); }
.button.button-blaud.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: rgb(247, 103, 31); }
.button.button-blaud.button-icon {
    border-color: transparent;
    background: none; }
.button.button-blaud.button-outline {
    border-color: rgb(247, 103, 31);
    background: transparent;
    color: #fff; }
.button.button-blaud.button-outline.active, .button.button-blaud.button-outline.activated {
    background-color: rgb(247, 103, 31);
    box-shadow: none;
    color: #fff; }

.toggle-small .toggle-blaud input:checked + .track {
    background-color: rgba(69, 159, 224, 0.5); }

.toggle-small .toggle-blaud input:checked + .track .handle {
    background-color: rgb(53, 173, 227); }

.toggle.toggle-blaud input:checked + .track {
    border-color: rgb(247, 103, 31);;
    background-color: rgb(69, 159, 224); }

.toggle.toggle-blaud input:checked + .track {
    border-color: rgb(247, 103, 31);;
    background-color: rgb(69, 159, 224); }

.item-blaud {
    border-width: 0px !important;
    background-color: transparent !important;
}
.item-blaud.item {
    border-width: 0px !important;
    border-style: none !important;
    background-color: transparent !important;
}
.item-blaud input {
    padding-left: 16px !important;
}

.item-blaud textarea {
    padding-left: 16px !important;
}

.item-input {
    padding: 0px !important;
    background:white;
    border-width:0px;
}

.input-label {
    padding-left: 10px !important;
}

/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
    height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
    height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
    margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
    margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
    top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
    top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
    top: 88px !important;
}

